$main-bg-color: #EBF6FF;
$application-color: #2A9AF4;
$light-bg: #FFFFFF;
$main-btn-gradien: linear-gradient(#42A6F6, #42A6F6);

$main-headings-color: #666983;
$second-headings-color: #8C8FAB;

$danger-color: #F95656;
