$main-bg-color: #EBF6FF;
$application-color: #2A9AF4;
$light-bg: #FFFFFF;
$main-btn-gradient: linear-gradient(180deg, rgba(66,166,246,1) 0%, rgba(11,110,190,1) 100%);

$main-headings-color: #666983;
$second-headings-color: #8C8FAB;

$light-gray: #D2DDE6;

$danger-color: #F95656;
